<div class='nav'>
  <ul>
    <li><a href="/">HackerNews</a></li>
    <% if session[:user_id] %>
      <li><a href="/profile/<%= session[:user_id] %>">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/login">Login</a></li>
    <% end %>
  </ul>
</div>
