<div class='container'>
  <h3>Create your Post:</h3>
  <form action='/create_post' method='post'>
    <input type='text' placeholder='Enter Title' name='title'>
    <input type='url' placeholder='Enter Url' name='url'>
    <input type='submit' value='Create'>
  </form>
</div>
