<div class="container">
<h3>Login:</h3>
  <form action='/login' method='post'>
    <input type='text' placeholder='Enter Username' name='username'>
    <input type='password' placeholder='Enter Password' name='password'>
    <input type='submit' value='Login'>
  </form>

  <h3>Sign Up:</h3>
  <form action='/signup' method='post'>
    <input type='text' placeholder='Enter Username' name='username'>
    <input type='password' placeholder='Enter Password' name='password'>
    <input type='submit' value='Sign Up'>
  </form>

</div>
