<div class='container'>
  <h3><%= @username %> welcome to your profile page!</h3>

  <a href="/profile/<%= @id %>/posts">View Posts</a>
  <a href="/profile/<%= @id %>/comments">View Comments</a>
  <a href="/create_post">Create a Post</a>

</div>
