<div class='container'>
  <h3><%= @username %> welcome to your profile page!</h3>

  <a href="/posts/<%= @id %>">View Posts</a>
  <a href="/comments/<%= @id %>">View Comments</a>
  <a href="/create_post">Create a Post</a>

</div>
