<%= erb :_navbar, layout: false %>
<div class='container'>
  <h3><%= @user.username %>'s Comments</h3>
  <% @user.comments.each do |comment|%>
    <p><%= comment.user.username %></p>
    <p><%= comment.content %></p>
  <% end %>
</div>
